<p><strong><%= link_to product.name, product %></strong></p>
  <p><strong>Description: </strong><%= product.description %></p>
  <p><strong>Price: </strong>$<%= product.starting_price %></p>
  <p><strong>Remaining Time: </strong><%= product.remaining_time %></p>
  <br>